{% extends 'base.html.twig' %}

{% block title %}Admin Categories
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href={{asset('')}}>
{% endblock %}

{% block body %}
	<main>
		<h1>Admin Categories</h1>
		<table class="table  table-striped">
			<thead>
				<tr>
					<th>Name</th>
					<th>Description</th>
					<th>Created At</th>
					<th>Updated At</th>
				</tr>
			</thead>
			<tbody>
				{% for category in categories %}
					<tr>
						<td>{{category.name}}</td>
						<td>{{category.description}}</td>
						<td>{{category.createdAt|date('d/m/Y')}}</td>
						<td>{{category.updatedAt|date('d/m/Y')}}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</main>
{% endblock %}
